.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('../../assets/images/vincent-guth-qNAgTdop3E0-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    .register-container{
        display: flex;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            width: 800px;
            height: 50vh;
            margin-top: 10%;
            background-color: #D8E8F2;
            h2{
                text-align: center;
                margin-top: 25px;
                margin-bottom: 35px;
                display: block;
            }
            .form-button-row{
                display: flex;
                justify-content: center;
                // margin-left:8%;
                // margin-right: 8%;
            .form-data{
                width: 300px;
                // background-color: red;
                font-size: 14px;
                font-weight: 500;
                button{
                    display: block;
                    cursor: pointer;
                    margin-top: 25px;
                    width: 100%;
                    height: 35px;
                    background-color: darkslategray;
                    color: white;
                    border:none;
                    font-weight: 500;
                    border-radius: 5px;
                }
                h5{
                    margin-top: 20px;
                    color: grey;
                    font-weight: 600;
                    text-align: center;
                    .link{
                        color:darkslategray;
                        padding-left: 5px;
                    }
                }
            }
            }
            .form-row{
                display: flex;
                justify-content: space-between;
                margin-left:8%;
                margin-right: 8%;
            .form-data{
                width: 300px;
                // background-color: red;
                font-size: 14px;
                font-weight: 500;
                .form-field{
                    label{
                        color: darkslategray;
                    }
                    input{
                        display: block;
                        margin-bottom: 25px;
                        margin-top: 10px;
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid rgba(47, 79, 79, 0.616);
                        padding: 0;
                    }
                }
                span{
                    color: grey;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 600;
                    // font-weight: 600;
                }
                button{
                    display: block;
                    cursor: pointer;
                    margin-top: 25px;
                    width: 85%;
                    height: 35px;
                    background-color: darkslategray;
                    color: white;
                    border:none;
                    font-weight: 500;
                    border-radius: 5px;
                }
                h5{
                    margin-top: 20px;
                    color: grey;
                    font-weight: 600;
                    .link{
                        color:darkslategray;
                        padding-left: 5px;
                    }
                }
            }
        }
        
        
        }
    }
}