.sidebar-container{
    padding: 25px;
    font-weight: 600;
    .filter-heading{
        margin-bottom: 15px;
    }
.category-container{
    margin-bottom: 25px;
    .category-heading{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    li{
        display: flex;
        align-items: center;
        font-weight: 400;
        // margin-top: 15px;
        margin-bottom: 10px;
        p{
            margin-left: 10px;
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: 300;
        }
        input[type="checkbox"]{
            width: 15px;
            height: 15px; 
          }
    }
}
}