.parentContainer{
  display: flex;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #696969;
    color: white;
  }

.update-button,.delete-button{
  text-align: center;
  width: 100%;
  border : none;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.update-button{
  background-color: rgb(51, 184, 224);
  color: white;
}
.delete-button{
  background-color: rgb(230, 99, 90);
  color: white;
}


// FORM
// * {box-sizing: border-box}

#form-container {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
  .container {
    padding: 16px;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  
  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
}

